<div style="background: url(https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)"
     class="page-holder bg-cover">
  <div class="container">
    <div class="row">
      <div class="bg-text">
        <h1 class="text-center mt-2" style="font-family: FontAwesome">About us</h1>
        <p style="font-family: FontAwesome" >Urban hip, alternative, retro atmosphere with a modern twist and people with a smile!This is our Music store</p>
      </div>
    </div>
  </div>
</div>
